body {
    margin:0;
}
img[src="ward_observer.png"]:hover, img[src="ward_sentry.png"]:hover {
    cursor:pointer;
}
#map {
    width: 100%;
    height: 100%;
}
.controls-container {
    position:absolute;
    top:100px;
    z-index:1000;
    color:white;
}
#controls-list {
	font-family:sans-serif;
	font-weight:bold;
	font-size:smaller;
	list-style:none;
	margin:0px;
	padding:3px 10px 5px 25px;
}
#controls-list li{
	padding:0px 5px;
}
#output-panel {
	padding:5px 10px 5px 25px;
}
#movespeed {
    width: 40px;
    padding: 0px;
    text-align: right;
}
#movespeed-container {
    padding-left: 49px;
}

div.olControlMousePosition {
    position:absolute;
    bottom:0px;
    right:0px;
    background-color:white;
    color:black;
    padding:3px 5px;
}

div.olControlZoom a {
    background-color: rgba(34, 34, 34, 0.7) !important; 
}

div.olControlZoom a:hover {
    background-color: rgba(34, 34, 34, 0.9) !important; 
}

.olControlLayerSwitcher .layersDiv {
    background-color: rgba(34, 34, 34, 0.7) !important; 
    padding: 5px 10px;
	border-radius: 15px 0 0 15px !important;
}

.controls {
    background-color: rgba(34, 34, 34, 0.7) !important; 
    padding: 5px 10px;
	border-radius: 0 15px 15px 0 !important;
}

.controls-button:hover {
    cursor: pointer;
}
.controls-button {
    position: absolute;
    top: 5px;
    transform: rotate(180deg);
}

.controls-button.maximizeDiv {
    display: none;
    transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
    div.olControlZoom a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .controls-container {
        top:150px;
    }
    #controls-list {
        padding: 3px 10px 5px 50px;
    }
    #controls-min, #controls-max, .olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {
        width: 50px;
        height: 50px;
    }
    #OpenLayers_Control_MaximizeDiv_innerImage, #OpenLayers_Control_MinimizeDiv_innerImage {
        width: 100%;
        height: 100%;
    }
    .labelSpan.olButton {
        width: 80%;
        display: inline-block;
    }
}