

{% block head %}
{{ super() }}
<!-- @if NODE_ENV!='production' -->
<link rel="stylesheet" href="app.css" type="text/css">
<!-- @endif -->
<!-- @if NODE_ENV='production' !>
<link rel="stylesheet" href="app-<!-- @echo COMMIT_HASH !>.min.css" type="text/css">
<!-- @endif -->
{% endblock head %}

{% block body %}
    <div id="map"></div>
    <div id="tool-btn-container"><!--
     --><a id="btn-zoom-in" href="javascript:void(0)" class="btn btn-tool"><div class="zoom-label">+</div></a><!--
     --><a id="btn-zoom-out" href="javascript:void(0)" class="btn btn-tool"><div class="zoom-label">&minus;</div></a><!--
     --><a id="btn-tree" href="javascript:void(0)" class="btn btn-tool"></a><!--
     --><a id="btn-ward" href="javascript:void(0)" class="btn btn-tool"></a><!--
     --><a id="btn-measure" href="javascript:void(0)" class="btn btn-tool" measure-type="line">
            <div class="line-icon"></div>
            <div class="circle-icon"></div>
        </a>
    </div>
    <a id="menu-left-open-btn" href="javascript:void(0)" class="btn btn-open">
        <div class="gear"></div>
    </a>
    <a id="menu-right-open-btn" href="javascript:void(0)" class="btn btn-open"></a>
    <div id="menu-left" class="menu-panel collapsed-horizontal">
        <div class="menu-panel-inner">
            <a href="javascript:void(0)" id="menu-left-close-btn" class="btn btn-close">&times;</a>
            <div class="menu-contents">
                <div class="menu-item">
                    <input type="radio" name="mode" value="navigate" id="navigateToggle" checked />
                    <label for="navigateToggle" class="checkbox">Navigate</label>
                </div>
                <div class="menu-item">
                    <input type="radio" name="mode" value="ward" id="wardToggle" />
                    <label for="wardToggle" class="checkbox">Place Ward</label>
                    <div class="menu-item-group sub-menu"><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="ward-type" value="observer" id="observer-option" />
                            <label for="observer-option" class="checkbox">Observer</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="ward-type" value="sentry" id="sentry-option" checked />
                            <label for="sentry-option" class="checkbox">Sentry</label>
                        </div><!--
                     --><div class="menu-item">
                            <label class="text-label small-font" for="vision-radius">Radius</label><!--
                         --><input type="number" id="vision-radius" value="1600" min="0" max="3000" step="25" />
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="checkbox" id="nightControl"/>
                            <label for="nightControl" class="checkbox">Night</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="checkbox" id="darknessControl"/>
                            <label for="darknessControl" class="checkbox">Darkness</label>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <input type="radio" name="mode" value="measure" id="measureToggle" />
                    <label for="measureToggle" class="checkbox">Measure</label>
                    <div class="menu-item-group sub-menu"><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="measure-type" value="line" id="line-option" checked />
                            <label for="line-option" class="checkbox">Line</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="measure-type" value="circle" id="circle-option" />
                            <label for="circle-option" class="checkbox">Circle</label>
                        </div><!--
                     --><div class="menu-item">
                            <label class="text-label small-font" for="movementSpeed">MS</label><!--
                         --><input type="number" id="movementSpeed" value="300" min="0" max="9999" step="1" />
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <input type="radio" name="mode" value="draw" id="drawToggle" />
                    <label for="drawToggle" class="checkbox">Draw</label>
                    <div class="menu-item-group sub-menu"><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="brush" id="brush-option" checked />
                            <label for="brush-option" class="checkbox">Brush</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="marker" id="marker-option" />
                            <label for="marker-option" class="checkbox">Icon</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="point" id="point-option" />
                            <label for="point-option" class="checkbox">Point</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="linestring" id="linestring-option" />
                            <label for="linestring-option" class="checkbox">Line</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="polygon" id="polygon-option" />
                            <label for="polygon-option" class="checkbox">Polygon</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="shape" id="shape-option" />
                            <label for="shape-option" class="checkbox">Shape</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="modify" id="modify-option" />
                            <label for="modify-option" class="checkbox">Modify</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="rotate" id="rotate-option" />
                            <label for="rotate-option" class="checkbox">Rotate</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="translate" id="translate-option" />
                            <label for="translate-option" class="checkbox">Drag</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="draw-type" value="delete" id="delete-option" />
                            <label for="delete-option" class="checkbox">Delete</label>
                        </div><!--
                     --><div class="menu-item button-half-container">
                            <input type="button" id="undo" class="button-half" value="Undo"><!--
                         --><input type="button" id="redo" class="button-half" value="Redo">
                        </div><!--
                     --><div id="draw-options" class="menu-item-group sub-menu draw-options brush"><!--
                         --><div class="menu-item brush">
                                <label class="select-label text-label small-font" for="freehand-select">Type</label><!--
                             --><select id="freehand-select">
                                    <option value="LineString">Brush</option>
                                    <option value="Box">Box</option>
                                    <option value="Circle">Circle</option>
                                    <option value="Star">Star</option>
                                    <option value="Polygon">Polygon</option>
                                </select>
                            </div><!--
                         --><div class="menu-item marker">
                                <label class="select-label text-label small-font" for="marker-select">Type<div id="marker-preview" class="miniheroes-sprite-abaddon"></div></label><!--
                             --><select id="marker-select">
                                </select>
                            </div><!--
                         --><div class="menu-item brush point linestring polygon shape">
                                <label class="text-label small-font" for="strokesize-option">Size</label><!--
                             --><input type="number" id="strokesize-option" value="5" min="1" max="999" step="1" />
                            </div><!--
                         --><div class="menu-item brush point linestring polygon shape">
                                <label class="text-label small-font" for="strokecolor-option">Color <div id="strokecolor-preview" class="color-preview"></div></label><!--
                             --><input type="text" id="strokecolor-option" /><!--
                             --><div id="strokecolor-picker-container"></div>
                            </div><!--
                         --><div class="menu-item brush point linestring polygon shape">
                                <label class="text-label small-font" for="strokeopacity-option">Opacity</label><!--
                             --><input type="number" id="strokeopacity-option" value="100" min="0" max="100" step="1" />
                            </div><!--
                         --><div class="menu-item polygon shape">
                                <label class="text-label small-font" for="fillcolor-option">Fill Color <div id="fillcolor-preview" class="color-preview"></div></label><!--
                             --><input type="text" id="fillcolor-option" /><!--
                             --><div id="fillcolor-picker-container"></div>
                            </div><!--
                         --><div class="menu-item polygon shape">
                                <label class="text-label small-font" for="fillopacity-option">Fill Opacity</label><!--
                             --><input type="number" id="fillopacity-option" value="100" min="0" max="100" step="1" />
                            </div><!--
                         --><div class="menu-item shape">
                                <label class="text-label small-font" for="sides-option">Sides</label><!--
                             --><input type="number" id="sides-option" value="3" min="3" max="100" step="1" />
                            </div>
                        </div><!--
                     --><div class="menu-item button-half-container">
                            <!-- @if ENABLE_SAVE='true' --><input type="button" id="save" class="button-half" value="Save"/><!-- @endif --><input type="button" id="share" class="button<!-- @if ENABLE_SAVE='true' -->-half<!-- @endif -->" value="Share"/>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="menu-item hide-draw">
                    <input type="checkbox" id="creepControl"/>
                    <label for="creepControl" class="checkbox">Lane Animation</label>
                    <hr>
                </div>
                <div class="menu-item">
                    <label class="select-label small-font" for="version-select">Version</label><!--
                 --><select id="version-select"></select>
                    <hr>
                </div>
                <div class="menu-item button-half-container">
                    <input type="button" id="reset" class="button<!-- @if ENABLE_DOWNLOAD='true' -->-half<!-- @endif -->" value="Reset"/><!-- @if ENABLE_DOWNLOAD='true' --><input type="button" id="export-map" class="button-half" value="Download"/><!-- @endif -->
                </div>
                <div class="menu-item button-half-container">
                    <input type="button" id="help-open" class="button-half" value="Help"/><input type="button" id="about-open" class="button-half" value="About"/>
                </div>
            </div>
        </div>
    </div>
    <div id="menu-right" class="menu-panel collapsed-horizontal">
        <div class="menu-panel-inner">
            <a href="javascript:void(0)" id="menu-right-close-btn" class="btn btn-close">&times;</a>
            <input type="radio" id="menu-right-back-btn" name="right-menu" value="back" checked />
            <label id="back-btn" class="btn btn-back" for="menu-right-back-btn">&#x2190;</label>
            <div class="back-group">
                <div class="menu-contents">
                    <div class="menu-item">
                        <input type="radio" id="overlay-menu-toggle" name="right-menu" value="overlay" />
                        <label for="overlay-menu-toggle" class="root checkbox inverse">Overlays</label>
                        <div id="overlay-menu" class="menu-item-group sub-menu"><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-draw-layer" data-layer-id="draw-layer" checked />
                                <label for="option-draw-layer" class="checkbox">Draw</label>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-ward-layer" data-layer-id="ward-layer" checked />
                                <label for="option-ward-layer" class="checkbox">Placed Wards</label>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="structure-menu-toggle" name="right-menu" value="structure" />
                        <label for="structure-menu-toggle" class="root checkbox inverse">Structures</label>
                        <div id="structure-menu" class="menu-item-group sub-menu"></div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="object-menu-toggle" name="right-menu" value="object" />
                        <label for="object-menu-toggle" class="root checkbox inverse">Neutral</label>
                        <div id="object-menu" class="menu-item-group sub-menu"></div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="vision-menu-toggle" name="right-menu" value="vision" />
                        <label for="vision-menu-toggle" class="root checkbox inverse">Vision Range</label>
                        <div id="vision-menu" class="menu-item-group sub-menu"><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-dayVision" checked />
                                <label for="option-dayVision" class="checkbox">Day Vision</label>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-nightVision" checked />
                                <label for="option-nightVision" class="checkbox">Night Vision</label>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-trueSight" checked />
                                <label for="option-trueSight" class="checkbox">True Sight</label>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-attackRange" checked />
                                <label for="option-attackRange" class="checkbox">Attack Range</label>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="base-menu-toggle" name="right-menu" value="base" />
                        <label for="base-menu-toggle" class="root checkbox inverse">Base Layers</label>
                        <div id="base-menu" class="menu-item-group sub-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="timer" class="slideUp">
        <div id="timer-content" class="message-content">
            <div id="timer-controls">
                <button id="timer-slower" class="btn-playback"></button>
                <button id="timer-stop" class="btn-playback"></button>
                <button id="timer-playPause" class="btn-playback icon-play"></button>
                <button id="timer-faster" class="btn-playback"></button>
            </div>
            <div id="timer-time"></div>
        </div>
    </div>
    <div id="notification" class="slideUp">
        <div id="notification-content" class="message-content"></div>
    </div>
    <div id="info" class="slideDown">
        <a href="javascript:void(0)" id="info-close-btn" class="btn btn-close">&times;</a>
        <div id="info-content" class="message-content"></div>
    </div>
    <div id="help" class="modal modal-close">
        <div class="modal-content">
            <span id="help-close" class="close">&times;</span>
            <!-- @include help.html -->
        </div>
    </div>
    <div id="about" class="modal modal-close">
        <div class="modal-content">
            <span id="about-close" class="close">&times;</span>
            <p>Interactive Map v<span id="releaseTag"></span></p>
            <p>Last updated: <span id="buildDate"></span></p>
            <a href="https://github.com/devilesk/dota-interactive-map">GitHub</a>
            <p>Build: <span id="codeVersion"></span></p>
        </div>
    </div>
    <div class="coordinates-container">
        <div id="coordinates"></div>
    </div>
    
    {% block analytics %}
        {{ super() }}
    {% endblock analytics %}
    {% block js %}
        {{ super() }}
        <!-- @if NODE_ENV!='production' -->
        <script src="https://openlayers.org/en/v5.2.0/build/ol.js"></script>
        <script src="bundle.js"></script>
        <!-- @endif -->
        <!-- @if NODE_ENV='production' !>
        <script src="bundle-<!-- @echo COMMIT_HASH !>.min.js"></script>
        <!-- @endif -->
        <script>new InteractiveMap(document, "<!-- @echo MAP_DATA_PATH !>", "<!-- @echo VISION_DATA_IMAGE_PATH !>", "<!-- @echo MAP_DATA_VERSION !>")</script>
    {% endblock js %}
{% endblock body %}