

{% block head %}
{{ super() }}
<!-- @if NODE_ENV!='production' -->
<link rel="stylesheet" href="app.css" type="text/css">
<!-- @endif -->
<!-- @if NODE_ENV='production' !>
<link rel="stylesheet" href="app-<!-- @echo COMMIT_HASH !>.min.css" type="text/css">
<!-- @endif -->
{% endblock head %}

{% block body %}
    <div id="map"></div>
    <div id="tool-btn-container"><!--
     --><a id="btn-zoom-in" href="javascript:void(0)" class="btn-tool"><div class="zoom-label">+</div></a><!--
     --><a id="btn-zoom-out" href="javascript:void(0)" class="btn-tool"><div class="zoom-label">&minus;</div></a><!--
     --><a id="btn-tree" href="javascript:void(0)" class="btn-tool"></a><!--
     --><a id="btn-ward" href="javascript:void(0)" class="btn-tool"></a><!--
     --><a id="btn-measure" href="javascript:void(0)" class="btn-tool" measure-type="line">
            <div class="line-icon"></div>
            <div class="circle-icon"></div>
        </a>
    </div>
    <a id="menu-left-open-btn" href="javascript:void(0)" class="btn-open">
        <div class="gear"></div>
    </a>
    <a id="menu-right-open-btn" href="javascript:void(0)" class="btn-open"></a>
    <div id="menu-left" class="menu-panel collapsed-horizontal">
        <div class="menu-panel-inner">
            <a href="javascript:void(0)" id="menu-left-close-btn" class="btn-close">&times;</a>
            <div class="menu-contents">
                <div class="menu-item">
                    <input type="radio" name="mode" value="navigate" id="navigateToggle" checked />
                    <label for="navigateToggle" class="checkbox">Navigate</label>
                </div>
                <div class="menu-item">
                    <input type="radio" name="mode" value="ward" id="wardToggle" />
                    <label for="wardToggle" class="checkbox">Place Ward</label>
                    <div class="menu-item-group sub-menu"><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="ward-type" value="observer" id="observer-option" />
                            <label for="observer-option" class="checkbox">Observer</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="ward-type" value="sentry" id="sentry-option"  checked />
                            <label for="sentry-option" class="checkbox">Sentry</label>
                        </div>
                    </div>
                </div>
                <div class="menu-item">
                    <input type="radio" name="mode" value="measure" id="measureToggle" />
                    <label for="measureToggle" class="checkbox">Measure</label>
                    <div class="menu-item-group sub-menu"><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="measure-type" value="line" id="line-option"  checked />
                            <label for="line-option" class="checkbox">Line</label>
                        </div><!--
                     --><div class="menu-item inline">
                            <input type="radio" name="measure-type" value="circle" id="circle-option" />
                            <label for="circle-option" class="checkbox">Circle</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="menu-item">
                    <input type="checkbox" id="creepControl"/>
                    <label for="creepControl" class="checkbox">Lane Animation</label>
                </div>
                <hr>
                <div class="menu-item">
                    <label class="text-label" for="vision-radius">Radius</label><!--
                    --><input type="number" id="vision-radius" value="1600" min="0" max="3000" step="25" />
                </div>
                <hr>
                <div class="menu-item">
                    <input type="checkbox" id="nightControl"/>
                    <label for="nightControl" class="checkbox">Night</label>
                </div>
                <hr>
                <div class="menu-item">
                    <input type="checkbox" id="darknessControl"/>
                    <label for="darknessControl" class="checkbox">Darkness</label>
                </div>
                <hr>
                <div class="menu-item">
                    <label class="text-label" for="movementSpeed">MS</label><!--
                    --><input type="number" id="movementSpeed" value="300" min="0" max="9999" step="1" />
                </div>
                <hr>
                <div class="menu-item">
                    <label class="select-label" for="version-select">Version</label><!--
                     --><select id="version-select">
                        <option value="700">7.00</option>
                        <option value="687">6.87</option>
                    </select>
                </div>
                <hr>
                <div class="menu-item">
                    <input type="button" id="reset" value="Reset Map"/>
                </div>
                <hr>
                <div class="menu-item">
                    <input type="button" id="help-open" value="Help"/>
                </div>
                <hr>
                <div class="menu-item">
                    <input type="button" id="about-open" value="About"/>
                </div>
                <hr>
                <div class="menu-item">
                    <div id="file-input-container" class="hidden">
                        <div id="dropbox">Drop a replay file here or <input type="file" id="file-input" value="" autocomplete="off"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="menu-right" class="menu-panel collapsed-horizontal">
        <div class="menu-panel-inner">
            <a href="javascript:void(0)" id="menu-right-close-btn" class="btn-close">&times;</a>
            <input type="radio" id="menu-right-back-btn" name="right-menu" value="back" checked />
            <label id="back-btn" class="btn-back" for="menu-right-back-btn">&#x2190;</label>
            <div class="back-group">
                <div class="menu-contents">
                    <div class="menu-item">
                        <input type="radio" id="overlay-menu-toggle" name="right-menu" value="overlay" />
                        <label for="overlay-menu-toggle" class="root checkbox inverse">Overlays</label>
                        <div id="overlay-menu" class="menu-item-group sub-menu"><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-drawn-circles"/>
                                <label for="option-drawn-circles" class="checkbox">Drawn Circles</label>
                                <div class="btn-toggle">
                                    <input id="toggle-1" type="checkbox"></input>
                                    <label for="toggle-1"></label>
                                </div>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-placed-wards" checked />
                                <label for="option-placed-wards" class="checkbox">Placed Wards</label>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="structure-menu-toggle" name="right-menu" value="structure" />
                        <label for="structure-menu-toggle" class="root checkbox inverse">Structures</label>
                        <div id="structure-menu" class="menu-item-group sub-menu"></div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="object-menu-toggle" name="right-menu" value="object" />
                        <label for="object-menu-toggle" class="root checkbox inverse">Neutral</label>
                        <div id="object-menu" class="menu-item-group sub-menu"></div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="vision-menu-toggle" name="right-menu" value="vision" />
                        <label for="vision-menu-toggle" class="root checkbox inverse">Vision Range</label>
                        <div id="vision-menu" class="menu-item-group sub-menu"><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-dayVision" checked />
                                <label for="option-dayVision" class="checkbox">Day Vision</label>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-nightVision" checked />
                                <label for="option-nightVision" class="checkbox">Night Vision</label>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-trueSight" checked />
                                <label for="option-trueSight" class="checkbox">True Sight</label>
                            </div><!--
                         --><div class="menu-item">
                                <input type="checkbox" id="option-attackRange" checked />
                                <label for="option-attackRange" class="checkbox">Attack Range</label>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <input type="radio" id="base-menu-toggle" name="right-menu" value="base" />
                        <label for="base-menu-toggle" class="root checkbox inverse">Base Layers</label>
                        <div id="base-menu" class="menu-item-group sub-menu"><!--
                         --><div class="menu-item">
                                <input type="radio" name="base-type" value="700" id="base-700-option" checked />
                                <label for="base-700-option" class="checkbox">7.00</label>
                                <div id="base-700-menu" class="menu-item-group sub-menu"></div>
                            </div><!--
                         --><div class="menu-item">
                                <input type="radio" name="base-type" value="687" id="base-687-option" />
                                <label for="base-687-option" class="checkbox">6.87</label>
                                <div id="base-687-menu" class="menu-item-group sub-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="timer" class="slideUp">
        <div id="timer-content" class="message-content">
            <div id="timer-controls">
                <button id="timer-slower" class="btn-playback"></button>
                <button id="timer-stop" class="btn-playback"></button>
                <button id="timer-playPause" class="btn-playback icon-play"></button>
                <button id="timer-faster" class="btn-playback"></button>
            </div>
            <div id="timer-time"></div>
        </div>
    </div>
    <div id="notification" class="slideUp">
        <div id="notification-content" class="message-content"></div>
    </div>
    <div id="info" class="slideDown">
        <a href="javascript:void(0)" id="info-close-btn" class="btn-close">&times;</a>
        <div id="info-content" class="message-content"></div>
    </div>
    <div id="help" class="modal modal-close">
        <div class="modal-content">
            <span id="help-close" class="close">&times;</span>
            <!-- @include www/help.html -->
        </div>
    </div>
    <div id="about" class="modal modal-close">
        <div class="modal-content">
            <span id="about-close" class="close">&times;</span>
            <p>Interactive Map v<span id="releaseTag"></span></p>
            <p>Last updated: <span id="buildDate"></span></p>
            <a href="https://github.com/devilesk/dota-interactive-map">GitHub</a>
        </div>
    </div>
    <div class="coordinates-container">
        <div id="coordinates"></div>
    </div>
    <script src="replayviewer.js"></script>
    {% block js %}
        {{ super() }}
        <!-- @if NODE_ENV!='production' -->
        <script src="bundle.js"></script>
        <script>InteractiveMap("tiles/", "img/map_data.png")</script>
        <!-- @endif -->
        <!-- @if NODE_ENV='production' !>
        <script src="bundle-<!-- @echo COMMIT_HASH !>.min.js"></script>
        <script>InteractiveMap("<!-- @echo map_data_path !>", "<!-- @echo vision_data_image_path !>")</script>
        <!-- @endif -->
    {% endblock js %}
{% endblock body %}