body {
    margin:0;
}
img[src="img/ward_observer.png"]:hover, img[src="img/ward_sentry.png"]:hover {
    cursor:pointer;
}
#map {
    width: 100%;
    height: 100%;
}
.controls-container {
    position:absolute;
    top:100px;
    z-index:1000;
    color:white;
}
#controls-list {
	font-family:sans-serif;
	font-weight:bold;
	font-size:smaller;
	list-style:none;
	margin:0px;
	padding:3px 10px 5px 25px;
}
#controls-list li{
	padding:0px 5px;
}
#controls-list #dataControl-container{
    margin-top: 3px;
}
#controls-list #dataControl-label{
	margin-left: 25px;
}
#output-panel {
	padding:5px 10px 5px 25px;
}
#movespeed {
    width: 40px;
    padding: 0px;
    text-align: right;
}
#movespeed-container {
    padding-left: 49px;
}

div.olControlMousePosition {
    position:absolute;
    bottom:0px;
    right:0px;
    background-color:white;
    color:black;
    padding:3px 5px;
}

div.olControlZoom a {
    background-color: rgba(34, 34, 34, 0.7) !important; 
}

div.olControlZoom a:hover {
    background-color: rgba(34, 34, 34, 0.9) !important; 
}

.olControlLayerSwitcher .layersDiv {
    background-color: rgba(34, 34, 34, 0.7) !important; 
    padding: 5px 10px;
	border-radius: 15px 0 0 15px !important;
    box-shadow: -1px 1px 1px 1px rgb(34, 34, 34);
}

.controls {
    background-color: rgba(34, 34, 34, 0.7) !important; 
    padding: 5px 10px;
	border-radius: 0 15px 15px 0 !important;
    box-shadow: 1px 1px 1px 1px rgb(34, 34, 34);
}

.controls-button, .olControlLayerSwitcher .minimizeDiv, .olControlLayerSwitcher .maximizeDiv {
    position: absolute;
    top: 5px;
    color: white;
    text-decoration: none;
    width: 22px;
    height: 22px;
    line-height: 19px;
    font-size: 19px;
    text-align: center;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

.maximizeDiv::before {
    background-color: rgba(255,255,255,0.4);
    width: 22px;
    height: 22px;
    content: "";
    position: absolute;
    z-index: -1;
    padding: 3px 3px 3px 0px;
    top: -3px;

}
.controls-button.maximizeDiv::before {
    left: 0px;
}
.olControlLayerSwitcher .maximizeDiv::before {
    right: 0px;
}

.controls-button, .controls-button.maximizeDiv::before {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.controls-button.maximizeDiv {
    display: none;
}

.olControlLayerSwitcher .minimizeDiv, .olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .maximizeDiv::before {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media screen and (max-width: 768px) {
    .controls-button, div.olControlZoom a, .olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv, .maximizeDiv::before {
        width: 50px;
        height: 50px;
        line-height: 49px;
        font-size: 40px;
    }
    .controls-container {
        top:150px;
    }
    #controls-list {
        padding: 3px 10px 5px 50px;
    }
    #OpenLayers_Control_MaximizeDiv_innerImage, #OpenLayers_Control_MinimizeDiv_innerImage {
        width: 100%;
        height: 100%;
    }
    .labelSpan.olButton {
        width: 80%;
        display: inline-block;
    }
}