body {
    margin:0;
    font-family: sans-serif;
    font-size: 12px;
}
img[src="img/ward_observer.png"]:hover, img[src="img/ward_sentry.png"]:hover {
    cursor:pointer;
}
#map {
    width: 100%;
    height: 100%;
}
.controls-container {
    position:absolute;
    top:100px;
    z-index:1000;
    color:white;
}
.controls-list {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	list-style:none;
	margin: 0px;
    padding: 3px 10px 5px 10px;
}
.controls-list li ul {
    list-style:none;
    padding: 1px 0px 1px 8px;
}
.controls-list.left {
    padding: 3px 10px 5px 25px;
}
.controls-list li{
	padding:0px 5px;
    margin: 0;
}
.controls-list li.controls-list-header {
    padding-bottom: 5px;
}
.controls-list li:last-child {
    margin-bottom: 0;
}
.controls-list input {
    margin: 0;
    vertical-align: bottom;
    margin-bottom: 1px;
    margin-right: 5px;
    cursor: pointer;
}
li.collapsed ul {
    display: none;
}
.controls-list .header {
    background-color: rgba(20, 20, 20, 0.7);
    cursor: pointer;
    padding: 5px 10px;
    margin-left: -8px;
}
.controls-list .header:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.controls-list label {
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 5px 3px 5px 4px;
}
.controls-list #dataControl-label {
    width: initial;
    display: inline-block;
}
#reset {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3px;
    margin-top: 7px;
    color: black;
    font-weight: bold;
    width: 100%;
    border: 1px solid #aaa;
}
#reset:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
#reset:active {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: black;
    padding-top: 4px;
    padding-bottom: 2px;
}
#output-panel {
	padding:5px 10px 5px 25px;
}
#movespeed {
    width: 40px;
    padding: 0px;
    text-align: right;
}
#movespeed-container {
    padding-left: 49px;
}

div.olControlMousePosition {
    position:absolute;
    bottom:0px;
    right:0px;
    background-color:white;
    color:black;
    padding:3px 5px;
}

div.olControlZoom a {
    background-color: rgba(34, 34, 34, 0.7) !important; 
}

div.olControlZoom a:hover {
    background-color: rgba(34, 34, 34, 0.9) !important; 
}

.olControlLayerSwitcher .layersDiv {
    background-color: rgba(34, 34, 34, 0.7) !important; 
    padding: 5px 10px;
	border-radius: 15px 0 0 15px !important;
    box-shadow: -1px 1px 1px 1px rgb(34, 34, 34);
}

.controls {
    background-color: rgba(34, 34, 34, 0.7) !important; 
    padding: 5px 10px;
	border-radius: 0 15px 15px 0 !important;
    box-shadow: 1px 1px 1px 1px rgb(34, 34, 34);
}

.controls-button, .olControlLayerSwitcher .minimizeDiv, .olControlLayerSwitcher .maximizeDiv {
    position: absolute;
    top: 5px;
    color: white;
    text-decoration: none;
    width: 22px;
    height: 22px;
    line-height: 19px;
    font-size: 19px;
    text-align: center;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

.maximizeDiv::before {
    background-color: rgba(255,255,255,0.4);
    width: 22px;
    height: 22px;
    content: "";
    position: absolute;
    z-index: -1;
    padding: 3px 3px 3px 0px;
    top: -3px;

}
.controls-button.maximizeDiv::before {
    left: 0px;
}
.olControlLayerSwitcher .maximizeDiv::before {
    right: 0px;
}

.controls-button, .controls-button.maximizeDiv::before {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.controls-button.maximizeDiv {
    display: none;
}

.olControlLayerSwitcher .minimizeDiv, .olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .maximizeDiv::before {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media screen and (max-width: 768px) {
    .controls-button, div.olControlZoom a, .olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv, .maximizeDiv::before {
        width: 50px;
        height: 50px;
        line-height: 49px;
        font-size: 40px;
    }
    .controls-container {
        top:150px;
    }
    .controls-list.left {
        padding: 3px 10px 5px 50px;
    }
    #OpenLayers_Control_MaximizeDiv_innerImage, #OpenLayers_Control_MinimizeDiv_innerImage {
        width: 100%;
        height: 100%;
    }
    .labelSpan.olButton {
        display: inline-block;
    }
}