html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    z-index: 0;
}
body {
    overflow-y: hidden;
}
hr {
    border-color: $bg-color;
    margin: 0;
}

select:hover {
    cursor: pointer;
}

.btn {
    text-decoration: none;
    background-color: $bg-color;
    color: $text-color;
    font-size: 50px;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    transition-duration: 0.1s;
    
    &.active:hover,
    &:hover {
        @include transform(scale(0.9));
    }

    &.active,
    &:active:hover {
        @include transform(scale(0.8));
    }
}

.button {
    color: $text-color;
    background-color: $bg-color;
    border: 1px solid darken($text-color, 15%);
    cursor: pointer;
    
    &:hover {
        border-color: $hover-text-color;
        color: $hover-text-color;
    }
    
    &:active {
        background-color: $text-color;
        color: $hover-text-color;
    }
}

.btn-close, .btn-open, .btn-back {
    position: absolute;
    top: 0;
}
.btn-open {
    z-index: 40;
}
.btn-close {
    z-index: 30;
}
.btn-back {
    font-size: 36px;
    z-index: 30;
    line-height: 45px;
}

.coordinates-container  {
    position: absolute;
    bottom: 0;
    z-index: 40;
    right: 0;
    font-size: 14px;
    background-color: $light-bg-color;
    display: none;
    
    div.coordinate {
        padding: 5px;
        font-family: monospace;
    }
    
    @media #{$not-mobile} {
        display: block;
    }
}

.ol-full-screen-true, .ol-full-screen-false {
    @extend .btn;
    
    border: none;
    position: absolute;
    top: 50px;
    right: 0;
    font-size: 36px;
    
    &:focus {
        outline: none;
    }
}
.ol-full-screen-true {
    top: 0;
}