.gear {
    height: 20px;
    width: 20px;
    background: transparent;
    box-shadow: inset 0 0 0px 5px $text-color, inset 0 0 0px 8px lighten($bg-color, 5%);
    border-radius: 50%;
    position: relative;
    margin: 15px;
    
    &:hover {
        @include animation('rotate 0.5s ease-out 1');
    }
    
    &:active:hover {
        @include transform(scale(0.9));
    }
    
    &::before, &::after {
        height: 4px;
        width: 4px;
        content: '';
        border-radius: 20%;
        position: absolute;
        background: $text-color;
    }
    
    &::before {
        box-shadow: 10px 10px 0 0 $text-color, -10px 10px 0 0 $text-color, 0 20px 0 0 $text-color;
        top: -2px; left: 8px;
    }
    &::after {
        top: 1px; left: 15px;
        box-shadow: 0px 20px 0 0 $text-color, 10px 10px 0 0 $text-color, -10px 10px 0 0 $text-color;
        @include transform(rotate(45deg));
    }
}

@include keyframes(rotate) {
    0% {transform: rotate(0deg) scale(1.1);}
    100% {transform: rotate(45deg);}
}