#btn-measure {
    .line-icon {
        height: 0px;
        position: absolute;
        width: 30px;
        left: 6px;
        top: 20px;
        border: 2px dotted $text-color;
        @include transform(rotate(-45deg));
    }
    
    .circle-icon {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        position: absolute;
        right: 6px;
        bottom: 4px;
        border: 3px dotted $text-color;
    }
    
    &[measure-type="line"] {
        @include transform(scaleX(-1) scaleY(-1));
        
        &.active:hover,
        &:hover {
            @include transform(scale(-0.9));
        }
        
        &:hover:active {
            @include transform(scale(-0.8));
        }
        
        &.active {
            @include transform(scale(0.8) scaleX(-1) scaleY(-1));
        
            .line-icon {
                border-style: solid;
            }
        }
    }
    
    &[measure-type="circle"] {
        .line-icon {
            width: 16px;
            left: 3px;
            top: 10px;
        }
        .circle-icon {
            height: 20px;
            width: 20px;
            right: 9px;
            top: 15px;
        }
        
        &.active:hover,
        &:hover {
            @include transform(scale(0.9));
        }
        
        &:hover:active {
            @include transform(scale(0.8));
        }
        
        &.active {
            @include transform(scale(0.8));
            
            .circle-icon {
                border-style: solid;
            }
        }
    }
}