.menu-panel {
    height: 100%;
    width: $menu-width;
    max-width: $menu-width;
    position: fixed;
    z-index: 20;
    top: 0;
    background-color: transparent;
    overflow: hidden;
    transition: 0.5s;
}
#menu-right {
    right: 0;
}

.menu-panel-inner {
    width: 100%;
    padding-top: 50px;
    background-color: $bg-color;
    height: 100%;
    
    .back-group {
        height: 100%;
    }
    
    .menu-contents {
        height: calc(100% - 50px);
        overflow-y: auto;
    }
}

.btn.collapsed-horizontal,
.menu-panel.collapsed-horizontal {
    width: 0;
    transition: 0.2s;
    z-index: 0;
}
.btn.collapsed-horizontal::before {
    display: none;
}

.menu-panel.expand-horizontal {
    width: 100%;
    transition-delay: 0.2s;
}

.menu-item {
    position: relative;

    .checkbox {
        cursor: pointer;
    }
    
    .text-label, .select-label, .checkbox, input, select {
        padding: 8px 8px 8px 24px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        transition: 0.3s;
        white-space: nowrap;
        width: 100%;
        background-color: $bg-color;
        border: 0;
        color: $text-color;
        box-sizing: border-box;
        height: 40px;
    }

    .sub-menu {
        max-height: 0;
        transition: 0.3s;
        overflow: hidden;
    }
    
    input {
        &[type=radio] {
            &:checked + .checkbox {
                cursor: default;
            }
        }
        
        &[type=radio], &[type=checkbox] {
            display: none;
         
            + .checkbox {
                &:hover {
                    color: $hover-text-color;
                }
                
                &.inverse {
                    background-color: #1b1a1a;
                    
                    &:hover {
                        background-color: $bg-color;
                    }
                }
            }
            
            &:checked + .checkbox {
                background-color: $text-color;
                color: $bg-color;
                
                &:hover {
                    color: $hover-text-color;
                }
                
                &.inverse {
                    background-color: $bg-color;
                    color: $hover-text-color;
                }
            }
        }
        
        &[type=button] {
            @extend .button;
            width: calc(100% - 4px);
            margin: 2px;
        }
        
        &:checked {
            & + .checkbox, & + .checkbox + .sub-menu, & + .checkbox {
                max-height: 999px;
                display: block;
            }
        }
    }
    
    .text-label,
    .select-label,
    .text-label + input,
    .select-label + select {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
    }
}
        
#menu-right-back-btn {
    &:checked + .btn-back + .back-group .menu-contents .menu-item label.root {
        display: block;
        max-height: 999px;
    }

    &:not(:checked) + .btn-back + .back-group .menu-contents .menu-item input[name="right-menu"]:not(:checked) + label.root {
        display: none;
    }

    @media #{$tall-height} {
        &:not(:checked) + .btn-back + .back-group .menu-contents .menu-item input[name="right-menu"]:not(:checked) + label.root {
            display: block;
        }
        & + .btn-back {
            display: none;
        }
    }
}

.menu-item-group {
    
    .menu-item {
        &.inline {
            width: 50%;
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
        }
        
        .checkbox, input, select {
            padding: 8px;
            cursor: pointer;
        }
    }
    
    &.sub-menu {
        .menu-item {
            .checkbox {
                padding-left: 48px;
            }
            
            &.inline .checkbox {
                padding-left: 8px;
            }
            
            .menu-item-group.sub-menu .menu-item .checkbox {
                padding-left: 64px;
            }
        }
    }
}

#menu-left-close-btn {
    left: 0;
}
#menu-right-close-btn {
    right: 0;
}

#menu-left-open-btn,
#menu-right-open-btn {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
}
#menu-left-open-btn {
    left: 0;
}
#menu-right-open-btn {
    right: 0;
    
    &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 15px;
        width: 30px;
        height: 4px;
        background: $text-color;
        box-shadow: 
            0 8px 0 0 $text-color,
            0 16px 0 0 $text-color;
    }
    
    &:hover::before {
        @include transform(scale(0.9));
    }
}

#menu-right-back-btn {
    display: none;
}

@media #{$not-mobile} {
    .menu-panel {
      width: $menu-width;
    }
    .menu-panel.expand-horizontal {
      width: $menu-width;
    }
    .menu-contents.hidden {
        display: block;
    }
    #marker-menu-open-btn,
    #base-menu-open-btn {
        display: none;
    }
}