.menu-panel {
    height: 100%;
    width: $menu-width;
    max-width: $menu-width;
    position: fixed;
    z-index: 20;
    top: 0;
    background-color: transparent;
    overflow: hidden;
    transition: 0.5s;
}
#menu-right {
    right: 0;
}

#menu-left .menu-contents {
    margin-left: 12px;
}

.menu-panel-inner {
    width: 100%;
    padding-top: 50px;
    background-color: $bg-color;
    height: 100%;
    
    .back-group {
        height: 100%;
    }
    
    .menu-contents {
        height: calc(100% - 50px);
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            height: 12px;
            width: 12px;
            background: $bg-color;
        }

        &::-webkit-scrollbar-thumb {
            background: #2b2b2b;
            -webkit-border-radius: 1ex;
            -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
        }

        &::-webkit-scrollbar-corner {
            background: $bg-color;
        }
    }
}

.btn.collapsed-horizontal,
.menu-panel.collapsed-horizontal {
    width: 0;
    transition: 0.2s;
    z-index: 0;
}
.btn.collapsed-horizontal::before {
    display: none;
}

.menu-panel.expand-horizontal {
    width: 100%;
    transition-delay: 0.2s;
}

.menu-item {
    position: relative;

    .checkbox {
        cursor: pointer;
    }
    
    .text-label, .select-label, .checkbox, input, select {
        padding: 8px 8px 8px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        transition: 0.3s;
        white-space: nowrap;
        width: 100%;
        background-color: $bg-color;
        border: 0;
        color: $text-color;
        box-sizing: border-box;
        height: 40px;
        
        &.small-font {
            font-size: 18px;
            color: darken($text-color, 10%);
        }
    }

    .sub-menu {
        max-height: 0;
        transition: 0.3s;
        overflow: hidden;
    }
    
    input {
        &[type=radio] {
            &:checked + .checkbox {
                cursor: default;
            }
        }
        
        &[type=radio], &[type=checkbox] {
            display: none;
         
            + .checkbox {
                &:hover {
                    color: $hover-text-color;
                }
                
                &.inverse {
                    background-color: #1b1a1a;
                    
                    &:hover {
                        background-color: $bg-color;
                    }
                }
            }
            
            &:checked + .checkbox {
                background-color: $text-color;
                color: $bg-color;
                
                &:hover {
                    color: $hover-text-color;
                }
                
                &.inverse {
                    background-color: $bg-color;
                    color: $hover-text-color;
                }
            }
            
            &:disabled + .checkbox {
                cursor: not-allowed;
                opacity: 0.5;

                &:hover {
                    color: $text-color;
                }
            }
            
            &[name="base-type"]:checked + .checkbox {
                background-color: $bg-color;
                color: $hover-text-color;
            }
        }
        
        &.button {
            @extend .button;
            width: calc(100% - 8px);
            margin: 2px 4px;
        }

        &.button-half {
            @extend .button;
            width: calc(50% - 4px);
            margin: 2px;
            display: inline-block;
            padding: 8px;
        }
        
        &:checked {
            & + .checkbox, & + .checkbox + .sub-menu, & + .checkbox, & + .checkbox + .sub-menu .sub-menu, & + .checkbox {
                max-height: 9999px;
                display: block;
            }
        }
    }
    
    &.button-half-container {
        padding: 2px;
        padding-top: 0px;
    }
    
    .text-label,
    .select-label,
    .text-label + input,
    .select-label + select {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
    }
}
        
#menu-right-back-btn {
    display: none;

    &:checked + .btn-back + .back-group .menu-contents .menu-item label.root {
        display: block;
        max-height: 9999px;
    }

    &:not(:checked) + .btn-back + .back-group .menu-contents .menu-item input[name="right-menu"]:not(:checked) + label.root {
        display: none;
    }

    @media #{$tall-height} {
        &:not(:checked) + .btn-back + .back-group .menu-contents .menu-item input[name="right-menu"]:not(:checked) + label.root {
            display: block;
        }
        & + .btn-back {
            display: none;
        }
    }

    &:hover {
        &:not(:checked) + .btn-back {
            cursor: pointer;
        }
        &:active:not(:checked) + .btn-back {
            @include transform(scale(1));
        }
        &:checked + .btn-back {
            @include transform(scale(1));
        }
    }
    
    & + .btn-back {
        opacity: 1;
        transition: all 0.25s linear;
        
        @media only screen and (max-width: #{$menu-width}) {
            margin-left: 50px;
        }
    }
    
    &:checked + .btn-back {
        opacity: 0.5;
    }
}

.menu-item .inline {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

.menu-item-group {
    
    .menu-item {
        &.inline {
            width: 50%;
            display: inline-block;
            box-sizing: border-box;
            text-align: left;
        }
        
        .checkbox, input, select {
            padding: 8px;
            cursor: pointer;
        }
    }
    
    &.sub-menu {
        .menu-item {
            .checkbox {
                padding-left: 48px;
            }
            
            &.inline .checkbox, label.text-label {
                padding-left: 20px;
            }
            
            .menu-item-group.sub-menu .menu-item .checkbox {
                padding-left: 64px;
            }
        }
    }
}

#menu-left-close-btn {
    left: 0;
}
div#menu-right.expand-horizontal #menu-right-close-btn {
    right: 0;
}
#menu-right-close-btn {
    right: -50px;
    transition: all 0.5s linear;
}

#menu-left-open-btn,
#menu-right-open-btn {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
}
#menu-left-open-btn {
    left: 0;
}
#menu-right-open-btn {
    right: 0;
    
    &::after {
        content: "";
        position: absolute;
        left: 10px;
        top: 15px;
        width: 30px;
        height: 4px;
        background: $text-color;
        box-shadow: 
            0 8px 0 0 $text-color,
            0 16px 0 0 $text-color;
    }
    
    &:hover::after {
        @include transform(scale(0.95));
    }
    
    &:active:hover::after {
        @include transform(scale(0.9));
    }
}

.draw-options {
    .menu-item {
        max-height: 0;
        transition: 0.3s;
        overflow: hidden;
    }
    
    &.brush .menu-item.brush {
        max-height: 9999px;
        display: block;
    }
    
    &.marker .menu-item.marker {
        max-height: 9999px;
        display: block;
    }
    
    &.point .menu-item.point {
        max-height: 9999px;
        display: block;
    }
    
    &.linestring .menu-item.linestring {
        max-height: 9999px;
        display: block;
    }
    
    &.polygon .menu-item.polygon {
        max-height: 9999px;
        display: block;
    }
    
    &.shape .menu-item.shape {
        max-height: 9999px;
        display: block;
    }
    
    &.modify .menu-item.modify {
        max-height: 9999px;
        display: block;
    }
    
    &.rotate .menu-item.rotate {
        max-height: 9999px;
        display: block;
    }
    
    &.translate .menu-item.translate {
        max-height: 9999px;
        display: block;
    }
    
    &.delete .menu-item.delete {
        max-height: 9999px;
        display: block;
    }
}

.hide-draw {
    max-height: 9999px;
    display: block;
    
    #menu-left.draw & {
        max-height: 0;
        transition: 0.3s;
        overflow: hidden;
    }
}

#strokecolor-picker-container,
#fillcolor-picker-container {
    max-height: 0;
    transition: 0.3s;
    overflow: hidden;
    
    &.open {
        max-height: 9999px;
        display: block;
    }
}

.color-preview {
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
}

#marker-preview {
    display: inline-block;
    position: absolute;
    top: 6px;
    margin-left: 4px;
}

@media #{$not-mobile} {
    .menu-panel {
      width: $menu-width;
    }
    .menu-panel.expand-horizontal {
      width: $menu-width;
    }
    .menu-contents.hidden {
        display: block;
    }
    #marker-menu-open-btn,
    #base-menu-open-btn {
        display: none;
    }
}