.modal {
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 500px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.close {
    color: $text-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-open {
    display: block;
}

.modal-close {
    display: none;
}

#about .modal-content {
    height: 200px;
    margin-top: 100px;
    border-radius: 10px;
}
