#tool-btn-container {
    position: absolute;
    top: 0px;
    left: 50px;
    height: 50px;
    width: 250px;
    z-index: 10;
    background-color: rgba(175, 175, 175, 0.4);
    
    @media #{$vertical-toolbar} {
        width: 50px;
        top: 50px;
        left: 0;
        height: 250px;
    }
}
.btn-tool {
    display: inline-block;
    position: relative;
    left: 0;

    @media #{$vertical-toolbar} {
        display: block;
    }
}

#btn-tree {
    background-image: url('img/dota_cursor.png');
    &[trees-enabled="yes"] {
        background-image: url('img/btn-quelling_blade.png');
        
        &.active:hover {
            background-image: url('img/btn-quelling_blade_hover.png');
        }
    }
    
    &.active:hover {
        background-image: url('img/dota_cursor_hover.png');
    }
}
#btn-ward[ward-type="observer"] {
    background-image: url('img/ward_dispenser_observer.png');
    
    &.active:hover {
        background-image: url('img/ward_dispenser_sentry_hover.png');
    }
}
#btn-ward[ward-type="sentry"] {
    background-image: url('img/ward_dispenser_sentry.png');
    
    &.active:hover {
        background-image: url('img/ward_dispenser_observer_hover.png');
    }
}
#btn-measure {
    position: relative;
}
.zoom-label  {
    font-size: 50px;
    
    .btn:active:hover & {
        @include transform(scale(0.9));
    }
}
#btn-zoom-in:hover,
#btn-zoom-out:hover  {
    font-size: 32px;
}